<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://static.passeportsante.net/i44900-se-soigner-avec-les-huiles-essentielles.jpg');">
  <div class="banner-content">
    <h1>Bienvenue sur les huiles de Mimi</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <a class="btn btn-primary btn-lg"<%= link_to "Entrée", oils_path %></a>
  </div>
</div>

<%= render "shared/footer" %>
