a{
  // position:absolute;
  margin:15px;
  height:250px;
  border-radius:3px;
  // top:50%;
  left:10%;
  // transform: translateX(-150%);
    .name-oil{
      z-index:1;
      position:absolute;
      left:20px;
      text-shadow:2px 2px 2px green;
    }
    .note-oil{
      z-index:1;
      position:absolute;
      bottom:20px;
      left:20px;
      text-shadow:1px 1px 1px green;
    }
}

// a:hover{
//   text-decoration:none;
//   border:solid 1px green;
//   box-shadow:1px 1px 1px green;
// }

.col-xs-12{
  display:flex;

  .photo img{
    position:absolute;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));
    border-radius:5px;
    left:0px;
  }
  .photo img:hover{
    text-decoration:none;
    border:solid 1px green;
    box-shadow:1px 1px 1px green;
  }
}

.link{
  display:flex;
  // position:relative;
  margin-left:11%;
  .add a{
    border:1px solid #1bc426;
    background-color:#1bc426;
    border-radius:5px;
    padding:5px;
    margin:5px;
    color:white;
    color:white;
    text-decoration:none;
  } .add a:hover{
    color:#707172;
    background-color:#1bc439;
  }

  .welcome a{
    border-radius:5px;
    border:1px solid #12dde8;
    background-color:#12dde8;
    padding:5px;
    margin:5px;
    color:white;
    text-decoration:none;
  } .welcome a:hover{
    color:#707172;
    background-color:#12ddf0;
  }
}
