// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "banner";
@import "card";
@import "cardoil";
@import "form_new";
@import "form_oil_view";

body{
  position:relative;
  margin: 0 auto;
}

h1{
  font-family: 'Satisfy', cursive;
  padding:20px;
  text-align:center;
  font-size:70px;
}

h2{
  font-family: 'Satisfy', cursive;
  color:#333333;
}

p{
  text-align:center;
  color:#333333;
}
