.block{
  display:flex;
  // border:solid 5px black;
  justify-content:space-around;
}

.block_central{
  position:relative;
  // border:solid 1px red;
  display:flex;
  justify-content:space-around;
}

.name{
  position:absolute;
  text-shadow:2px 2px 2px green;
  color:white;
}

.note{
  position:absolute;
  text-shadow:1px 1px 1px green;
}

.article{
  // border:solid 1px green;
  position:relative;
  width:400px;
  height:300px;
  overflow:auto;
}
